* {
  font-family: sans-serif;
}

body {
  background-color: white;
}

table {
  text-align: center;

  tr.odd {
    background-color: #eee;
  }
}

.italic {
  font-style: italic;
}

.pull-right {
  float: right;
}

.mb-0 {
  margin-bottom: 0;
}